@import "tailwindcss";

@theme {
  /* Define custom brand colors here */
  --color-cmas-teal: #0d9488; 
  --color-cmas-dark: #111827; 
  
  /* Setting custom fonts */
  --font-display: "Poppins", sans-serif;
}